Body {
  margin: 0;
  padding: 0;
  
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.Navbar-flex{
  display:flex;
  color:brown;
  background-color: black;
  padding: 20px 30px;
 
 
  /* width: 30px; */
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: cornsilk;
}

